@{
    ViewData["Title"] = "Expenses";
}
@model List<Expense>

<h1>Index Page - Expenses</h1>
<hr />
<h3>Total Expenses : @ViewBag.totalExpenses</h3>
<hr/>
<a asp-controller="Expense" asp-action="CreateEditExpense" class="btn btn-primary">Create / Edit Expense</a>
<table class="table">
@{
   
    foreach (var expense in Model)
    {
        <tr>
        <td>@expense.Id</td>
        <td>@expense.Description</td>
        <td>@expense.Value</td>
        <td><a asp-action="CreateEditExpense" asp-route-id="@expense.Id">Edit</a></td>
        <td><a asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a></td>
        </tr>
    } 
}
</table>
